{{- if eq .osid "linux-endeavouros" -}}

{{ $pacpack := list
    "nautilus"
    "fcitx5"
    "hyprcursor"
    "hyprland"
    "hyprpicker"
    "libnewt"
    "uwsm"
    "xdg-desktop-portal-hyprland"
    "xdg-desktop-portal-gtk" -}}

{{ $yaypack := list
    "clipse"
    "cava"
    "walker"
    "elephant-desktopapplications"
    "elephant-files"
    "elephant-clipboard"
    "elephant-calc"
    "flameshot"
    "hyprpolkitagent"
    "matugen-bin"
    "noctalia"
    "python-pywalfox"
    "millennium"
    "adw-gtk-theme"
    "nwg-look"
    "qt6ct"
    "noctalia-greeter"
    "wezterm-nightly-bin"
    "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail


{{ $sudo }}pacman -Sy --needed {{ $pacpack | join " " }}

yay -Sy --needed {{ $yaypack | join " " }}

elephant service enable
systemctl --user enable --now hyprpolkitagent.service

# Install SDDM Theme


# Install greetd
# set /etc/greetd/config.toml
# command = "/usr/bin/noctalia-greeter-session"
# user = "greeter"
# systemctl enable --now greetd
#


{{ end -}}
