{{- if eq .osid "linux-endeavouros" -}}

{{ $yaypack := list
    "bitwarden"
    "gnome-keyring"
    "libsecret"
    "yubikey-manager"
    "librewolf-bin"
    "jellyfin-tui"
    "jellium-desktop-bin"
    "proton-mail-bin"
    "pinta"
    "libreoffice-fresh"
    "celluloid"
    "anki"
    "rustdesk-bin"
    "tigervnc"
    "obs-studio"
    "visual-studio-code-bin"
    "zed-preview-bin"
    "claude-code"
    "openai-codex-bin"
    "vesktop-git" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

# These take too long, so I'm leaving them commented out.
# linux-wallpaperengine
# steam
# discord


set -eufo pipefail

yay -Sy --needed {{ $yaypack | join " " }}

# YubiKey
{{ $sudo }}systemctl enable pcscd.service


{{ end -}}
